* { font-family: 'saysettha OT', Verdana, Geneva, Tahoma, sans-serif;}

.card-anime {
    transition: transform 0.2s ease;
  }
.card-anime:hover {
    transform: scale(1.05);
  }

  /* Upload file */
  .custom-file-input.selected:lang(en)::after {
    content: "" !important;
  }
  .custom-file {
    overflow: hidden;
  }
  .custom-file-input {
    white-space: nowrap;
  }

 

  
